@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Bold.ttf');
    font-weight: 700;
}

@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Inter';
        src: url('../fonts/Inter-VariableFont_slnt_wght.ttf') format('truetype supports variations'),
            url('../fonts/Inter-VariableFont_slnt_wght.ttf') format('truetype-variations');
        font-weight: 300 700;
    }
}

:root{
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
    --font: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 3.2rem;
    font-family: var(--font);
}